@model TravelTripProject.Models.Classes.Comment
@{
    ViewBag.Title = "GetComment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-top:16px">Update Comment</h2>

@using (Html.BeginForm("UpdateComment", "Admin", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Username)
    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Email)
    @Html.TextBoxFor(x => x.Email, "{0:yyyy-MM-dd}", new { @class = "form-control"})
    <br />
    @Html.LabelFor(x => x.CommentText)
    @Html.TextAreaFor(x => x.CommentText, 15, 1, new { @class = "form-control" })
</div>
<br />
<button class="btn btn-success">Update Comment</button>
}

